[2022-09-11 05:42] dlford opened #1 "[Bug]: Aspect ratio preview odd behavior"
### Contact Details

_No response_

### What happened?

Choosing an extremely low width or height causes the preview window to show an inaccurate representation of that aspect ratio

### What should have happened?

Aspect ratio preview should show an accurate representation of the selected ratio

### What browsers are you seeing the problem on?

Firefox

### Version

104.0.2

### Relevant log outp

[2022-09-11 05:49] dlford opened #2 "[ToDo]: Replace Logo"

[2022-09-14 14:25] dlford commented on #2
resolved by 319f9849451d0895a11162c45be831cfecf022c7

[2022-09-14 14:25] #2 closed

[2022-09-14 16:20] dlford opened #3 "[Req]: Lorem Ipsum Tool"
### Contact Details

_No response_

### Explain the proposed feature

Lorem ipsum tool

### Explain the possible use cases for the feature

_No response_

### Any other details you would like to provide?

_No response_

[2022-09-14 16:24] dlford opened #4 "[Req]: YAML Formatter / Validator"
### Contact Details

_No response_

### Explain the proposed feature

Format and validate YAML

### Explain the possible use cases for the feature

_No response_

### Any other details you would like to provide?

_No response_

[2022-09-14 16:25] dlford opened #5 "[Req]: Time Converter"
### Contact Details

_No response_

### Explain the proposed feature

Convert time between timezones, unix time, and other common formats

### Explain the possible use cases for the feature

_No response_

### Any other details you would like to provide?

_No response_

[2022-09-14 19:28] dlford opened #6 "[Req]: Use Ace Editor for formatting"
### Contact Details

_No response_

### Explain the proposed feature

Use Ace Editor instead of textarea where appropriate

### Explain the possible use cases for the feature

_No response_

### Any other details you would like to provide?

_No response_

[2022-09-14 19:29] dlford opened #7 "[Req]: URL Encode / Decode"
### Contact Details

_No response_

### Explain the proposed feature

URL encode and decode strings tool

### Explain the possible use cases for the feature

_No response_

### Any other details you would like to provide?

_No response_

[2022-09-14 19:30] dlford opened #8 "[Req]: HTML5 Format / Minify"
### Contact Details

_No response_

### Explain the proposed feature

HTML5 format / minify tool

### Explain the possible use cases for the feature

_No response_

### Any other details you would like to provide?

_No response_

[2022-09-14 19:31] dlford opened #9 "[Req]: Regex Tester"
### Contact Details

_No response_

### Explain the proposed feature

Regular expression testing tool

### Explain the possible use cases for the feature

An interactive regular expression writing tool

### Any other details you would like to provide?

At minimum this tool should:
- Have a field for the regular expression
- Have a field for a test case (text to run the expression on)
- Have a fiel

[2022-09-14 19:32] dlford opened #10 "[Req]: Markdown Preview Tool"
### Contact Details

_No response_

### Explain the proposed feature

Markdown preview tool

### Explain the possible use cases for the feature

_No response_

### Any other details you would like to provide?

_No response_

[2022-09-14 21:52] dlford opened #11 "[Req]: JWT Debugger"
### Contact Details

_No response_

### Explain the proposed feature

JSON Web Token debugger/decoder tool

### Explain the possible use cases for the feature

_No response_

### Any other details you would like to provide?

_No response_

[2022-09-14 21:53] dlford opened #12 "[Req]: Color Conversion Tool"
### Contact Details

_No response_

### Explain the proposed feature

Tool for converting colors between Hex/RGB/HSL/etc. A color picker would also be nice.

### Explain the possible use cases for the feature

_No response_

### Any other details you would like to provide?

_No response_

[2022-09-14 21:55] dlford opened #13 "[Req]: Better JSON Tool"
### Contact Details

_No response_

### Explain the proposed feature

The JSON tool currently works in strict mode, would be nice if it would accept JavaScript objects as well and format them as JSON, and vice/versa.

### Explain the possible use cases for the feature

_No response_

### Any other details you would like to provide?

_No response_

[2022-09-15 18:11] dlford opened #14 "[Req]: CSS Format/Minify Tool"
### Contact Details

_No response_

### Explain the proposed feature

A tool that formats and minifies CSS/SASS/SCSS/LESS

### Explain the possible use cases for the feature

_No response_

### Any other details you would like to provide?

_No response_

[2022-09-16 18:39] dlford commented on #6
Ace Editor is a bit complicated to use with SSR, exploring the possible use of CodeMirror instead.

[2022-10-03 12:56] diego-rapoport commented on #10
Hi! Can you assign me to this one? I wanna contribute.

[2022-10-03 13:38] dlford commented on #10
@diego-rapoport feel free to reach out if you have any questions, you might take a look at the `codemirror-poc` branch and grab the editor from there if you feel it is a good fit.

[2022-10-03 13:51] dlford commented on #10
@diego-rapoport I don't see an issue with that, the Code Mirror editor is a nice tool for user input, but not a hard requirement.

[2022-10-03 14:10] kubahasek commented on #12
Hi! I think I can do this, could I get it assigned and I'll give it a shot :)

[2022-10-03 14:12] dlford commented on #12
@kubahasek Awesome! Feel free to reach out if you have questions

[2022-10-03 14:55] TechSpiritSS commented on #7
I can work on this tool as my first contribution in this Dev Tools Collection

[2022-10-03 14:57] dlford commented on #7
@TechSpiritSS All yours, thank you!

[2022-10-03 15:25] Dhravya commented on #5
I can take this issue!

[2022-10-03 17:18] TechSpiritSS opened #15 "[Bug]: Delete `␍`eslintprettier/prettier"
### Contact Details

sidharth.sherry@gmail.com

### What happened?

For some users this error is happening. This is happening because many editors let you change between CRLF and LF line-ending modes.
![image](https://user-images.githubusercontent.com/76687985/193638360-2735b1af-4b6b-4e9b-9e73-47581f1b4b2c.png)

### What should have happened?

We can easily fix that issue.
In `.eslintrc.json` file

[2022-10-03 17:19] TechSpiritSS commented on #15
I know as per the rules I should wait for the assignment but I am sending PR to ensure a quick fix.

[2022-10-03 17:40] #15 closed

[2022-10-04 14:43] #7 closed

[2022-10-04 14:57] TechSpiritSS commented on #3
May I proceed with this?

[2022-10-04 14:59] dlford commented on #3
@TechSpiritSS I have already started on this, but you may pick up where I left off on the `lorem-ipsum-tool` branch if you wish.

[2022-10-04 15:02] TechSpiritSS commented on #3
Well in that case, I'll start working on some other tool

[2022-10-05 08:09] TechSpiritSS opened #21 "[Req]: Sorting Tool"
### Contact Details

sidharth.sherry@gmail.com

### Explain the proposed feature

We can have an online sorting tool which can sort given words (or sentences) in ascending. descending, and reverse order on the basis of lexicographical or length basis.

### Explain the possible use cases for the feature

Useful when you need a quick sorted list of something.

### Any other details you would like to

[2022-10-05 13:08] dlford commented on #21
@TechSpiritSS cool, I'm on board, here's a good example of some options / controls to be implemented https://www.gillmeister-software.com/online-tools/text/sort-list.aspx

[2022-10-05 13:16] dlford opened #22 "[Req]: Text Diff Tool"
### Contact Details

_No response_

### Explain the proposed feature

A tool to show the difference between two chunks of text.

### Explain the possible use cases for the feature

This would be used to determine what has changed in two versions of a file (or any piece of text) that are not stored in version control, or to verify that they are the same.

### Any other details you would like to pro

[2022-10-05 13:22] dlford commented on #21
@TechSpiritSS would this tool support comma separated and new line separated lists? Maybe that could be a control option, maybe add semicolon too?

[2022-10-05 13:27] dlford opened #23 "[Req]: TOML Format / Validate Tool"
### Contact Details

_No response_

### Explain the proposed feature

A tool to format and validate TOML

### Explain the possible use cases for the feature

_No response_

### Any other details you would like to provide?

We should also add options to convert TOML to YAML and JSON, this can be added as a second PR if not built into the first PR.

[2022-10-05 13:38] dlford opened #24 "[Req]: Query String Tool"
### Contact Details

_No response_

### Explain the proposed feature

A tool for working with URL query strings (e.g. `https://somesite.com/?querystring=somevalue&anotherquerystring=somethingelse`).

### Explain the possible use cases for the feature

Query strings can be very long and difficult to parse when debugging complex API calls, having a more human readable format to parse and modify for

[2022-10-05 14:11] dlford opened #25 "[Req]: Number base converter tool"
### Contact Details

_No response_

### Explain the proposed feature

A tool that converts numbers between different bases.

### Explain the possible use cases for the feature

_No response_

### Any other details you would like to provide?

The tool should have an input that takes a number, a control for setting the output (e.g. hex, binary, octal, or "base 2", "base 6", "base 8", etc.), and an o

[2022-10-05 14:38] tobySolutions commented on #25
Hey!! Can this issue be assigned to me?

[2022-10-05 14:39] tobySolutions commented on #11
Can this issue be assigned to me, please?

[2022-10-05 14:40] dlford commented on #25
@tobySolutions all yours!

[2022-10-05 14:40] dlford commented on #11
@tobySolutions all yours!

[2022-10-05 14:48] AnkitaMalik22 commented on #24
Hey! I would love to work on this issue! Please assign me .

[2022-10-05 14:49] AnkitaMalik22 commented on #22
please assign me ! I would love to do .

[2022-10-05 14:51] dlford commented on #24
@sanjaybaskaran01 got to it first, sorry @AnkitaMalik22

[2022-10-05 14:51] dlford commented on #22
@AnkitaMalik22 all yours!

[2022-10-05 15:14] dlford opened #27 "[Req]: JavaScript Playground Tool"
### Contact Details

_No response_

### Explain the proposed feature

A tool for writing JavaScript functions or statements and showing the output.

### Explain the possible use cases for the feature

It's sometimes easier to write a function in it's own context, this would provide an easy to access sandbox for testing and developing functions in their own context.

### Any other details you would

[2022-10-05 15:22] dlford opened #28 "[Req]: Image Tool"
### Contact Details

_No response_

### Explain the proposed feature

A tool for optimizing and reformatting images.

### Explain the possible use cases for the feature

_No response_

### Any other details you would like to provide?

This can't likely be done in browser alone, it may be possible to do using server-less functions which should be explored.

This tool should at minimum:
- convert im

[2022-10-05 15:59] nosecreek commented on #14
I can take this if you'd like

[2022-10-05 16:00] dlford commented on #14
@nosecreek all yours, thanks!

[2022-10-06 05:36] dlford opened #30 "[Bug]: URL Encode tool doesn't catch input error"
### Contact Details

_No response_

### What happened?

When typing some characters into the "Encoded" field such as `%`, a console error is thrown and the input does not add the character.

### What should have happened?

The input should have added the character, and a user friendly error message should have been displayed on the page, without throwing an error in the browser console.

### Notes

[2022-10-06 06:16] Dun-sin opened #31 "[OTHER] centre page properly"
The pages aren't centred properly, don't know if this is intentional or not

Home:
![image](https://user-images.githubusercontent.com/78784850/194227960-5cace8f7-4f0b-4812-b7f5-827563fb19e6.png)

Tools:
![image](https://user-images.githubusercontent.com/78784850/194228309-6cebab4c-0c3e-4eed-bc16-e428ffef71d7.png)

[2022-10-06 06:57] ageddesi opened #32 "[Req]:"
### Contact Details

aaron.rackley9@gmail.com

### Explain the proposed feature

At the moment in the input forms on the site are set to 1 line. I would increase the footprint of them so that you have more room to enter code from the beginning.

![image](https://user-images.githubusercontent.com/1301564/194234809-3addd433-2db9-4844-977e-f0fba70039b6.png)

### Explain the possible use cases for the

[2022-10-06 11:53] TGlide commented on #30
Hi @dlford, I'd love to tackle this issue! Could you assign this to me?

[2022-10-06 12:22] TechSpiritSS commented on #21
Working on this

[2022-10-06 13:08] dlford commented on #30
@TGlide all yours, thanks!

[2022-10-06 13:16] #32 closed

[2022-10-06 13:35] dlford commented on #31
@Dun-sin It is intentional, but thanks for calling it out!

[2022-10-06 13:35] #31 closed, assigned to nobody

[2022-10-06 15:27] TechSpiritSS commented on #21
:/ I am having some trouble in sorting with separator as new line, rest all are working great.

[2022-10-06 15:29] dlford commented on #21
No worries, you can PR as is and I'll create an issue for the newline separator

[2022-10-06 18:21] #30 closed

[2022-10-06 18:55] andrewbrey opened #36 "[Req]: GH Codespaces / VS Code Remote Container Configuration"
### Contact Details

GitHub @ message :+1:

### Explain the proposed feature

For `Hacktoberfest`, I have been adding `GitHub Codespaces / VS Code Remote Containers` configuration for OSS projects to make it easier for contributors to the project to get up and running with the correct developer setup. Including the appropriate configuration for a project allows contributors to work entirely within

[2022-10-06 19:47] dlford commented on #36
@andrewbrey Sounds cool, please feel free to proceed.

[2022-10-06 20:56] ageddesi commented on #9
Have you looked at
https://kangax.github.io/html-minifier/
https://www.npmjs.com/package/html-minifier

[2022-10-06 20:59] dlford commented on #9
@ageddesi I think this was meant for the HTML Minify issue?

In any case, I haven't looked into that at all yet, but I'll check it out, thanks!

[2022-10-06 21:03] #36 closed

[2022-10-06 21:17] ageddesi commented on #9
Ahh yes sorry I had a few tickets open. ;)

On Thu, 6 Oct 2022, 21:59 DL Ford, ***@***.***> wrote:

[2022-10-06 22:17] dlford commented on #9
No worries!

[2022-10-06 22:28] muskanbararia commented on #27
Would like to work on this. can u please assign it to me.

[2022-10-06 22:30] dlford commented on #27
@muskanbararia all yours, thanks!

[2022-10-07 09:42] fandykun commented on #4
Hi, can this issue assign to me? interest working on this.
Is it same as on [json-page](https://www.developertools.tech/json) but change it into yaml?

[2022-10-07 15:47] dlford commented on #4
@fandykun all yours! Yes, it should be similar to the JSON tool. Thanks!

[2022-10-08 00:13] dlford commented on #3
This has been added.

[2022-10-08 00:13] #3 closed

[2022-10-08 00:33] dlford opened #40 "[Req]: Add search field to nav menu"
### Contact Details

_No response_

### Explain the proposed feature

Add a search field to the top of the navigation menu

### Explain the possible use cases for the feature

As the list of tools grows, it will become harder to find the tool you want, a search field will help make it easier to find.

### Any other details you would like to provide?

Requirements:
- Add a search field to the top o

[2022-10-08 02:26] V3ntus commented on #40
Hey! I'd like to work on this!

[2022-10-08 02:28] amitroy-thedev commented on #40
Will you explain me if a user type something what they're supposed to search from?

[2022-10-08 03:11] gaston-flores commented on #28
For a low-effort approach, how about using [canvas' `toDataURL`](https://developer.mozilla.org/en-US/docs/Web/API/HTMLCanvasElement/toDataURL)? It supports `png`, `jpeg`, and `webp` as output formats.

A more complete implementation would use a serverless function to run [sharp](https://github.com/lovell/sharp), but that won't be cheap.

[2022-10-08 05:35] dlford commented on #28
@gaston-flores are you wanted to take a crack at the canvas method?

[2022-10-08 07:56] nobalpha commented on #25
Hey @dlford , can I work on this?

[2022-10-08 07:58] nobalpha commented on #1
Hey @dlford , can I try to resolve it?

[2022-10-08 12:12] gaston-flores commented on #28
Sure!

[2022-10-08 13:24] aliabbasjaffri opened #42 "[Req]: Adding support for Docker"
### Contact Details

_No response_

### Explain the proposed feature

I can add support for dockerizing the application so that the users can run the application on any given system.

### Explain the possible use cases for the feature

_No response_

### Any other details you would like to provide?

_No response_

[2022-10-08 16:59] dlford commented on #42
@aliabbasjaffri I don't see a problem with that, feel free to proceed

[2022-10-08 17:22] dlford commented on #1
@nobalpha All yours, thanks!

[2022-10-08 17:27] dlford commented on #25
@nobalpha Sure thing! See if you can work with some of the code from #38 to make it a pair PR (@tobySolutions started on it but was unable to finish), you should be able to add that fork as a remote and copy that branch to your fork.

Feel free to reach out if you have questions!

[2022-10-08 19:39] dlford commented on #8
@ageddesi thanks for the suggestions! Did you want to take a crack at this?

[2022-10-08 19:40] ageddesi commented on #8
Could be fun. Will try look over next few days. :)

[2022-10-08 19:42] dlford opened #44 "[Blocked]: Add avif to Image Converter Tool"
### Contact Details

_No response_

### Explain the proposed feature

Add avif format to image converter tool

### Explain the possible use cases for the feature

_No response_

### Any other details you would like to provide?

Blocked by browser support for avif in canvas elements - https://stackoverflow.com/questions/61206083/create-image-from-canvas-with-avif-image-format

[2022-10-08 19:42] dlford commented on #8
Awesome! Much appreciated!

[2022-10-08 20:38] #28 closed

[2022-10-08 21:30] ageddesi commented on #8
So far I am hitting 'Module not found: Can't resolve 'fs'' issues with the package I am using
https://github.com/terser/html-minifier-terser
Will need to have another look tomorrow

[2022-10-08 21:32] dlford commented on #8
Yeah, that's the issue, most of the minifiers are for node, thanks for looking into it for me though!

[2022-10-09 04:40] ElvinPero commented on #40
HI, I could add this feature . can you assign me this.

[2022-10-09 06:31] dlford commented on #40
@ElvinPero, sorry but @V3ntus is already working on this one.

[2022-10-09 06:35] #22 closed

[2022-10-09 15:14] gaston-flores commented on #9
@dlford Mind if I take this one?

[2022-10-09 16:35] dlford commented on #9
@gaston-flores all yours, thanks!

[2022-10-09 17:54] kubahasek commented on #12
@dlford

Hi, as much as I hate to annoy you, I am having some issues making the tool. I have gotten it to work with a color picker and as well as when you enter the HEX value, but I cannot get it to react to any other inputs properly at least.

Could you please take a look at https://github.com/kubahasek/developertools.tech/tree/color-tool and possibly point me to what's wrong? Thanks a lot

[2022-10-09 17:58] dlford commented on #12
@kubahasek of course, not a problem at all! I'll take a look soon and get back to you.

[2022-10-09 18:21] tinuh commented on #44
hey could I be assigned this issue?

[2022-10-09 18:33] #40 closed

[2022-10-09 18:34] dlford commented on #44
@tinuh This issue is blocked by browser support, so it cannot be completed until the major browsers support avif in the canvas element.

[2022-10-09 18:38] dlford commented on #44
@tinuh I'll be adding some new issues in the next few days, so feel free to check back!

[2022-10-09 18:55] tinuh commented on #44
oh alright thanks for letting me know!

[2022-10-09 23:40] dlford commented on #12
@kubahasek great job on this so far!

Looks like we aren't catching the errors here - https://github.com/kubahasek/developertools.tech/blob/color-tool/pages/colors.tsx#L88

I think a better approach would be to set up all the `onChange` calls to just assign the value for that input and use a `useEffect` hook to update the others based on which input was changed, or show the user error if the input

[2022-10-10 00:44] dlford opened #47 "[Req]: Improve text diff tool"
### Contact Details

_No response_

### Explain the proposed feature

The text diff tool (https://www.developertools.tech/text-diff) could be more useful if there were options for different types of text diffing. The package in use has many options and I think we could pass most if not all of them through to the user interface (https://www.npmjs.com/package/diff)

This will of course require new t

[2022-10-10 00:56] dlford opened #48 "[Req]: HTML Character Codes tool"
### Contact Details

_No response_

### Explain the proposed feature

A tool to encode and decode all HTML character codes (e.g. `&quot;` <=> `"`) in a string of text.

### Explain the possible use cases for the feature

_No response_

### Any other details you would like to provide?

This PR should:
- Add to the existing HTML page (use components to keep things clean)
- Provide an "unescaped" and

[2022-10-10 00:59] dlford opened #49 "[Req]: Emoji tool"
### Contact Details

_No response_

### Explain the proposed feature

A tool with a searchable list of emojis that when clicked will copy to the clipboard.

Adding unicode symbols would be a nice addition, but not required for this PR.

### Explain the possible use cases for the feature

_No response_

### Any other details you would like to provide?

This PR should:
- Add a new `emoji` tool that

[2022-10-10 01:29] dlford opened #50 "[Req]: Case Converter tool"
### Contact Details

_No response_

### Explain the proposed feature

A tool that will convert a string of space separated text with the following options:
- Kebab Case => kebab-case
- Camel Case => camelCase
- Pascal Case => PascalCase
- Snake Case => snake_case
- Screaming Snake Case => SCREAMING_SNAKE_CASE
- Screaming Kebab Case => SCREAMING-KEBAB-CASE
- Title Case => Title Case
- Lower Case  =

[2022-10-10 01:34] dlford opened #51 "[Req]: Improve sorting tool"
### Contact Details

_No response_

### Explain the proposed feature

The [sorting tool](https://github.com/developertools-tech/developertools.tech/pull/35) is in currently in development, but upon completion it would add a lot of utility if we could add a field for the output separator so you could change a newline separated list to comma separated, etc. (This would also require a sort option of

[2022-10-10 15:41] vinayharwani13 commented on #50
Hi @dlford, I would like to work on this issue. Could you please assign it to me?

[2022-10-10 16:15] dlford commented on #50
@vinayharwani13 all yours, thanks!

[2022-10-10 16:18] NirvanaPhX commented on #47
Hi Dan, I would like to try this one. Thanks.

[2022-10-10 16:19] dlford commented on #47
@NirvanaPhX all yours, thanks!

Feel free to reach out if you have questions.

[2022-10-10 16:44] dlford commented on #47
Oh no!, @NirvanaPhX have you started on this yet?

[2022-10-10 16:49] dlford opened #54 "Add Issue Claiming to Contributors' Guide"
Add a section to explain the process of claiming issues to prevent multiple contributors working on the same issue as in #47.

[2022-10-10 17:00] dlford commented on #49
@aswinikalyan30 all yours, thanks!

[2022-10-10 17:53] dlford commented on #47
Sorry @shu1007!

[2022-10-10 18:57] #9 closed

[2022-10-10 19:10] NirvanaPhX commented on #47
Hi Dan. I think I am done function-wise. However, I am not super familiar with testing. Do I have to include a test case for each of the diff function added. Thanks.

[2022-10-10 19:23] dlford commented on #47
@NirvanaPhX Yes, I would try to test every use case, take a look at some of the other tests to get an idea, it doesn't have to be perfect or 100% coverage, but enough to raise an alarm if something is broken later on as things change. If in doubt, go ahead and submit your PR and I'll review it for you.

[2022-10-11 00:04] shu1007 commented on #48
Could you please assign it to me?

[2022-10-11 00:24] gaston-flores opened #56 "[Req]: Use `husky` and `lint-staged` to lint files on every commit"
### Explain the proposed feature

Not exactly a feature, more of a nice-to-have for the repo. We can configure [git hooks](https://github.com/typicode/husky) to trigger [lint-staged](https://github.com/okonet/lint-staged) on every commit, which in turn would run eslint and prettier on the staged files. This should give more immediate feedback to the developer on the changes they are committing. As

[2022-10-11 01:03] dlford commented on #48
@shu1007 all yours, thanks!

[2022-10-11 01:21] dlford commented on #56
@gaston-flores

I've used husky and lint-staged before and I think it would help keep the PR's cleaner, so I'm on board.

I didn't know about the `eslint-plugin-prettier` discouragement, thanks for sharing that, I think it's a sound argument and agree with you there too.

We would also have to add a `prettier:ci` script that doesn't modify the files, and include that in the `cq:ci` script. I'm sur

[2022-10-11 01:36] #54 closed

[2022-10-11 01:39] dlford commented on #56
Oh, and the PR template mentions the `cq` script too, forgot about that

[2022-10-11 01:42] gaston-flores commented on #56
Great! Agreed on all points 🚀

[2022-10-11 03:37] dlford commented on #56
@gaston-flores thank you!

[2022-10-11 03:37] #56 closed

[2022-10-11 18:51] kubahasek commented on #12
@dlford

Hello! I have reshuffled the logic a little bit, but I am still having issues.

[LINK](https://github.com/kubahasek/developertools.tech/blob/a11d41f84517ce79d97583a99b16da0e77866395/pages/colors.tsx#L117) The main problem is with this line (only there to demonstrate). If I use value, it works properly when the others change but it's practically impossible to change what's in the input bec

[2022-10-11 19:52] dlford commented on #12
@kubahasek I see, I'll take a look and see what I can figure out.

[2022-10-11 21:05] dlford opened #60 "[Discussion]: Can we leverage WASM to improve the image tool?"
I think we can, but I'm not entirely sure, hoping someone with more experience in WASM than myself can chime in.

[2022-10-11 23:44] gaston-flores commented on #60
You definitely can. There is a [WASM port of ImageMagick](https://github.com/KnicKnic/WASM-ImageMagick) available, and [libsquoosh](https://github.com/GoogleChromeLabs/squoosh/tree/dev/libsquoosh) which powers [squoosh.app](https://squoosh.app/). Squoosh has good support for AVIF #44 😉

[2022-10-11 23:51] gaston-flores commented on #60
Ouch, about Squoosh, it seems web support is not quite there yet 😢 GoogleChromeLabs/squoosh#1084

[2022-10-11 23:55] dlford commented on #60
@gaston-flores fantastic! No worries about Squoosh, looks like ImageMagick [supports avif](https://imagemagick.org/script/formats.php#supported), so I would presume the WASM port does as well 🤞

[2022-10-11 23:56] dlford commented on #60
Ah, just kidding, no avif - https://cancerberosgx.github.io/demos/WASM-ImageMagick/supported-formats/

[2022-10-12 00:08] gaston-flores commented on #60
Damn 😂 Sharp is also working on WASM support here lovell/sharp#3336, so maybe we just need to wait 🤞

[2022-10-12 00:10] dlford commented on #60
@gaston-flores I think you're right, it's just not out there yet, I'll keep this open in the mean time though. Thanks for the info!

[2022-10-12 13:31] dlford opened #61 "[Req]: Internationalization"
### Contact Details

_No response_

### Explain the proposed feature

This project will benefit from displaying in many languages, but first we need a system to handle translations.

### Explain the possible use cases for the feature

Not everyone speaks or reads the english language, and even those who do may prefer another for ease of use.

### Any other details you would like to provide?

A PR

[2022-10-12 14:11] shu1007 commented on #61
If you would like, could you also assign this issue?

[2022-10-12 14:23] dlford commented on #61
@shu1007 all yours, thank you!

[2022-10-12 14:35] dlford commented on #12
@kubahasek You're on the right track, just use `value` instead of  `defaultValue` since you're now handling the errors and still setting the value on change.

I think all that's left is to update the color picker when the text inputs change, and add tests.

[2022-10-12 14:40] kubahasek commented on #12
@dlford I know that, but I will need to do some more digging. As soon as I set `value={r, g, b}` it becomes impossible to change the values in the inputs properly, so I need to look into that

As for tests, I will do my best, but I've never written them 😅

[2022-10-12 15:09] dlford commented on #12
@kubahasek Ah I see, let me know if you still need help! As for the tests have a look at some of the other tests, I think you'll find it's easier than you might think, but I'm happy to help with that too if needed 😁

[2022-10-13 16:11] dlford commented on #61
@shu1007 Not sure if this helps, or I'm too late, but this seems like a good implementation - https://github.com/i18next/next-i18next

[2022-10-13 16:51] shu1007 commented on #61
It's still in process, but I'll show you the implementation. #62
- https://deploy-preview-62--developertools-tech.netlify.app/ja
- https://deploy-preview-62--developertools-tech.netlify.app/ja/base64
sSome pages have been translated into Japanese

I also found out about next-i18next but I wanted to do some cleanup against the translation files.
So I am trying to implement the idea of defining a tr

[2022-10-13 16:58] shu1007 commented on #61
i18n uses the following features of Next.js
https://nextjs.org/docs/advanced-features/i18n-routing#sub-path-routing

Then add the following several files to implement i18n
- translation files
  - https://github.com/developertools-tech/developertools.tech/tree/c209c867bdd5c85c21a36f5d378d053bebf16444/data/locale
 - new hook
   - https://github.com/developertools-tech/developertools.tech/tree/c209c8

[2022-10-13 17:15] dlford commented on #61
@shu1007 This looks like a great start, I think the two problems I see that need solving are:
1. The types of the translations, I think it would be a pain to maintain that
2. Fallbacks, as the project grows and new tools are added, they may only have one language to start, so it will have to fall back to that language.

If you can solve those two things, I don't mind how you implement it, I only s

[2022-10-13 17:28] dlford commented on #61
Maybe we can use generics instead?

[2022-10-13 23:14] #47 closed

[2022-10-13 23:38] #48 closed

[2022-10-14 17:07] kubahasek commented on #12
@dlford

I think I've exhausted all my options to try and make it work properly. The code should now be in the state where everything works properly apart from the editing really, which still acts all funky whenever you try to manually input a color.

As for tests, I haven't yet started those, as I assume that should be done after the page is actually done.

[2022-10-14 17:09] dlford commented on #12
@kubahasek you are correct about the tests, go ahead and submit a PR if you haven't yet and mark it as a draft, I'll take a look and see what I can figure out.

[2022-10-15 05:01] Vishwamagdavan commented on #23
Hi @dlford ,  Please assign me this task; I'd like to do it.

[2022-10-15 05:08] dlford commented on #23
@Vishwamagdavan all yours, thanks!

[2022-10-17 17:08] shu1007 commented on #61
Sorry for the delay in contacting you.
I've decided to change my policy and use next i18-next
https://github.com/shu1007/developertools.tech/tree/make-i18n-next

Most of the implementation is done, but it will take a little longer.

[2022-10-18 17:39] dlford opened #66 "[Req]: Improve color tool"
### Contact Details

_No response_

### Explain the proposed feature

- Add an eye dropper (https://developer.mozilla.org/en-US/docs/Web/API/EyeDropper)
- Add a color preview box to show the selected color

### Explain the possible use cases for the feature

_No response_

### Any other details you would like to provide?

This PR should:
- Add an eye dropper button conditionally if the browser sup

[2022-10-18 17:42] kubahasek commented on #66
I will take this up! Thank you

[2022-10-18 17:42] #12 closed

[2022-10-18 17:43] dlford commented on #66
Awesome, thanks!

[2022-10-19 04:55] dlford commented on #5
@Dhravya Are you still wanting to work on this?

[2022-10-19 04:57] dlford commented on #11
@tobySolutions Are you still wanting to work on this?

[2022-10-19 04:58] dlford commented on #24
@sanjaybaskaran01 are you still wanting to work on this?

[2022-10-19 04:59] dlford commented on #27
@muskanbararia are you still wanting to work on this?

[2022-10-19 05:03] dlford commented on #1
@nobalpha are you still wanting to work on this?

[2022-10-19 05:04] dlford commented on #25
@nobalpha are you still wanting to work on this?

[2022-10-19 15:56] dlford commented on #61
@shu1007 This is looking great! Thanks so much for your hard work!

I'm not sure if it helps, but we can also add `locale` to the Jest mock here - https://github.com/shu1007/developertools.tech/blob/make-i18n/jest.setup.js#L13

[2022-10-19 17:03] shu1007 commented on #61
Thanks.
However currently on test, i18n outputs mock or English only, so I don't think it is necessary.

[2022-10-19 17:05] shu1007 commented on #61
Sorry for the delay.
I finally submitted a pull request.

[2022-10-19 18:21] dlford commented on #61
No worries!

[2022-10-20 20:02] nobalpha commented on #25
@dlford So sorry to reply late... Can you please accord a little bit more time?

[2022-10-20 20:02] nobalpha commented on #1
@dlford So sorry to reply lately... Can you please accord a little bit more time?

[2022-10-20 20:02] dlford commented on #66
@kubahasek I'll take a look at this and see if I can find a more performant way, if not we'll drop it.

[2022-10-20 20:03] dlford commented on #1
@nobalpha no problem, just making sure you still wanted to do it!

[2022-10-22 09:35] Dhravya commented on #5
Yes!

[2022-10-22 20:53] dlford commented on #66
@kubahasek I created a component that leverages the `startTransition` hook to de-prioritize rendering the preview box, let me know how this works for you.

`components/colors/PreviewPane.tsx`

[code]

Using it in `pages/colors.tsx` we can just pass in `pickerColor`.

[code]

[2022-10-22 20:59] #10 closed

[2022-10-22 22:41] #61 closed

[2022-10-22 23:03] dlford opened #67 "[i18n]: Translators Needed"
# Translations Needed

This issue is for tracking all translations needed, please feel free to comment if you'd like to see a language added to the list below, or contribute by adding translations from the list below.

All translation related pull requests will be counted for Hacktoberfest during the month of October.

## Spanish

- [ ] Header & Footer (Dev Tools in title bar, sponsors, contributo

[2022-10-22 23:17] dlford opened #68 "[Req]: Language Picker"
### Contact Details

_No response_

### Explain the proposed feature

Add a language picker to the header (app bar)

### Explain the possible use cases for the feature

_No response_

### Any other details you would like to provide?

This would be a drop down menu in the header that lists locales from `next-i18next.config.js`, clicking on any option would redirect to the correct URL (`/{short-lang

[2022-10-22 23:37] leslievelderrainx commented on #67
Hi, I can help with Spanish translations.

[2022-10-22 23:49] dlford commented on #67
@leslievelderrainx thanks so much! There are instructions in the [Contributors' Guide](https://github.com/developertools-tech/developertools.tech/blob/main/CONTRIBUTING.md), but feel free to reach out if you have any questions!

[2022-10-23 00:56] chrisli-03 commented on #68
i can work on this, please assign to me thank you

[2022-10-23 03:09] leslievelderrainx commented on #67
Hey, I'm really sorry but I don't think I have the skill set to help with this issue. I'm new to github and coding in general. Since this was a translation request, I thought there wouldn't be any coding involved, but I looked at the contributor's guide and saw that you need to be familiar with next.js and other things that I've never really heard of. I'm super confused in general. I tried looking

[2022-10-23 03:16] dlford commented on #67
@leslievelderrainx you don't have to do all that, if you just want to copy the engilsh JSON files and change the words to Spanish that's all we really need, let me know if you still want to give it a shot, I'm happy to help if you need anything.

[2022-10-23 03:26] leslievelderrainx commented on #67
Yea, I can definitely do that! Thanks for clarifying.

[2022-10-23 04:05] jamessom commented on #67
Hi @dlford I can help with pPortuguese BR

[2022-10-23 04:09] dlford commented on #67
@jamessom thanks so much!

[2022-10-23 05:35] ayushsgit commented on #67
HI @dlford I can help with hindi

[2022-10-23 05:35] LegendaryGene commented on #67
Hi @dlford I can help with Hindi as well!

[2022-10-23 06:07] dlford commented on #67
Sorry @LegendaryGene, @ayushsgit was first

[2022-10-23 06:08] ayushsgit commented on #67
@dlford thanks doing it :)

[2022-10-23 07:25] Akash190104 commented on #67
Hi @dlford assign me the bengali language. I can translate that.

[2022-10-23 08:08] ayushsgit commented on #67
@dlford i translated en.json to Hindi, please add hacktoberfest label to it :)

[2022-10-23 08:39] Wangata commented on #67
Hi @dlford I can help with Swahili translation

[2022-10-23 08:48] fahadashiq12 commented on #67
Hello, if you are looking for Urdu Language Support I am happy to help.

[2022-10-23 15:28] dlford commented on #67
@Akash190104 @Wangata @fahadashiq12 please proceed, and thank you!

[2022-10-23 19:01] kubahasek commented on #66
@dlford Yep, that's much better! Couldn't have figured that on my own, thanks for teaching me something new again!

Just going to do the eyedropper, and we'll be all done!

[2022-10-23 23:22] #68 closed

[2022-10-24 13:54] dlford commented on #23
@Vishwamagdavan are you still wanting to work on this?

[2022-10-24 13:56] dlford commented on #49
@aswinikalyan30 are you still wanting to work on this?

[2022-10-24 17:14] kolja-lucht commented on #67
Hey @dlford, are you looking for German translation, too? I'd be happy to add those 🙂

[2022-10-24 17:19] dlford commented on #67
@kolja-lucht yes please! Thanks!

[2022-10-24 17:57] nosecreek commented on #24
I can take this @dlford

[2022-10-24 18:02] dlford commented on #24
@nosecreek all yours, thanks!

[2022-10-24 23:17] #66 closed

[2022-10-25 06:10] ultr4nerd commented on #67
Hey! Can I help with Spanish?

[2022-10-25 13:24] dlford commented on #67
@ultr4nerd Absolutely! Thanks! I still need to add a few translation strings, can you wait until tomorrow to start? After that you can just check the `en` translation files for new fields.

[2022-10-25 17:52] Ns-SheF commented on #67
Hiii....  I can translate to Hausa.  Currently mobile, will take a more comfortable look at the needed translations when on a system.  Assign this to me if you'd like to have Hausa also. Thanks.

[2022-10-25 21:14] protob commented on #67
Hi, I can add Polish translation if applicable.

[2022-10-26 00:03] dlford commented on #67
@Ns-SheF and @protob  yes, please feel free to proceed!

[2022-10-26 01:12] ultr4nerd commented on #67
@dlford sure, I'll wait!

[2022-10-26 02:30] lysnbrl commented on #67
@dlford, hi, can I help with the translation of common.json file?

[2022-10-26 04:11] dlford commented on #67
@ultr4nerd yes, and also check all the `en` files for new fields if you don't mind please?

[2022-10-26 04:11] dlford commented on #67
@lysnbrl what language?

[2022-10-26 04:30] lysnbrl commented on #67
@dlford spanish!

[2022-10-26 04:35] dlford commented on #67
@lysnbrl sorry, Spanish is assigned already.

[2022-10-26 04:36] ultr4nerd commented on #67
@dlford we can split the work!

[2022-10-26 13:10] dlford commented on #67
@ultr4nerd @lysnbrl please feel free to work out splitting the work if you both would like to do that

[2022-10-26 13:24] protob commented on #67
@dlford thanks! I created pull request.

[2022-10-26 21:34] arefathi commented on #67
Hello there.
developer-tools looks like a very interesting project. I would like to make Amharic `am` translation contributions.
Please let me know if that's okay. Thanks.

[2022-10-26 22:31] giovannipessiva commented on #67
Hi @dlford, I can help with an Italian translation

[2022-10-26 23:05] dlford commented on #67
@arefathi and @giovannipessiva please fell free to proceed, thank you!

[2022-10-27 01:12] #24 closed

[2022-10-29 08:02] Vishwamagdavan commented on #23
Hello @dlford Sorry 😢 , I've been busy lately. I want to work on this issue, but my schedule are packed. Would you mind extending the time? Can I use external library, or do I have to write it all myself? 😃

[2022-10-29 16:09] dlford commented on #23
@Vishwamagdavan no problem, keep in mind that Hacktoberfest ends Monday! But take all the time you need. External libraries are ok to use!

[2022-11-01 20:36] kyle-jorve opened #90 "[Req]: Character Counter"
### Contact Details

kyle.jorve@simpleviewinc.com

### Explain the proposed feature

Add a character counter. We can paste or type text into an input (like a textarea), and the characters will automatically be counted.

### Explain the possible use cases for the feature

We often have to add a description truncation length to collections. This would help with that.

### Any other details you would

[2022-11-13 22:24] #50 closed

[2022-11-19 00:46] dlford commented on #90
@vinayharwani13 all yours, thanks!

[2022-11-21 14:57] dlford opened #93 "[Bug]: Color picker does not work correctly on some devices"
### Contact Details

_No response_

### What happened?

Using the color picker fills an RGB value into the HEX field, producing the error "Invalid HEX Color"

### What should have happened?

Color picker fills the HEX value into the HEX field

### What browsers are you seeing the problem on?

Chrome

### Version

107.0.5304.110

### Relevant log output

_No response_